<div>
    <br>
    <h2 style="text-align: center; color :black">BALARAM CHETTIYAR SONS </h2>
    <br>
</div>

<!-- NAVBAR -->

<div> 

  <nav class="navbar navbar-expand-sm bg-dark fixed-top navbar-dark justify-content-between">
    <ul class="navbar-nav">

      <li class="nav-item active">
          <a class="nav-link" href="" routerLink="/home" style="font-weight: bolder;">HOME</a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" routerLink="/siddha" href="" style="font-weight: bolder;">SIDDHA</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/ayurvedha" style="font-weight: bolder;">AYURVEDHA</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#" style="font-weight: bolder;">PULSES AND MILLETS</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#" style="font-weight: bolder;">HERBAL POWDERS</a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" routerLink="/aboutus" style="font-weight: bolder;">ABOUT US</a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" routerLink="/login" style="font-weight: bolder;">LOGIN</a>
      </li>

    </ul>

    <form class="form-inline" action="">
      <input class="form-control mr-sm-2" type="search" placeholder="SEARCH" >
      <button class="btn btn-success my-2" type="submit">SEARCH</button> 
    </form>

  </nav>
  
</div>