<!--
<p>login works!</p>
-->
<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link href="login.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
    <body background="assets/image/login/bg1.png">
         <form> 
        <div class="container-fluid">
            <br>
            <h3 class="b4">LOGIN</h3>
            <div class="imgcontainer">
                <img src="assets/image/login/person2.icon.ico" alt="OOPS!!!" class="person">
            </div>
            <div class="form-group">
                <br>
                <div class="group1">
                    <i class="fa fa-envelope icon"></i>
                    <input class="input-field" type="text" placeholder="Enter your UserID" name="uname" required><br><br>   
                </div>
                <div class="group1">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" type="password" placeholder="Enter Password" name="upass" required><br><br>
                </div>
                
                <button type="submit" class="btn btn-success"><b>LOGIN</b></button><br><br>
            
                <label style="color: white;"><input type="checkbox" >Remember me</label><br><br>
            
            </div>              
        </div>
         </form>
    </body>
</html>
-->
<html>
    <body>
        <form>
            <div class="bg">

            
            <div class="container-fluid"><br>

                <h3 class="b4">LOGIN</h3>
                <!--
                <div class="imgcontainer">
                    <img src="assets/image/login/person2.icon.ico" alt="OOPS!!!" class="person">
                </div>
                -->
                <div class="form-group"><br>

                    <div class="group1">
                        <i class="fa fa-envelope icon"></i>
                        <input class="input-field" type="text" placeholder="Enter your UserID" name="uname" required><br><br>   
                    </div>
                    
                    <div class="group1">
                        <i class="fa fa-key icon"></i>
                        <input class="input-field" type="password" placeholder="Enter Password" name="upass" required><br><br>
                    </div>
                    
                    <button type="submit" class="btn btn-success"><b>LOGIN</b></button><br><br>
                
                    <label style="color: white;"><input type="checkbox" >Remember me</label><br><br>
                
                </div>              
            </div>
        </div>
        </form>
    </body>
</html>