<!--
<p>aboutus works!</p>
-->
<body>
    <form>
    
    <br>
    <h2 style="text-align: center;">LEAVE A FEEDBACK</h2><br>
    <div class="row">

        <div class="col sm-1">
            <img src="assets\image\feedback\feedback6.png" width="100%" height="100%">
        </div>

        <div class="col sm-5">
            <label id="" for="uname"><b>NAME:</b></label><br>
            <input placeholder="CUSTOMER NAME" type="text" id="uname" name="uname"><br><br>
            <label id="" for="uemail"><b>USER NAME:</b></label><br>
            <input placeholder="EMAIL ID" type="email" id="uemail" name="uemail"><br><br>
            <label id="" for="umobile"><b>MOBILE NO:</b></label><br>
            <input placeholder="MOBILE NUMBER" type="tel" id="umobile" name="umobile"><br><br>
        </div>

        <div class="col sm-5">
            <label id="" for="feed"><b>FEEDBACK :</b></label><br>
            <textarea rows="5" cols="50" name="feed" id="feed" placeholder="YOUR FEEDBACK"></textarea>
        </div>

        <div class="col sm-1">
            <img src="assets\image\feedback\feedback1.jpg" width="100%" height="100%">
        </div>
    </div>
    <br><br>
</form>
</body>